{% load static %}
<html>
    <head>
        <title>MadScientist!</title>
        <meta name="charset" content="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static 'css/bjir.css' %}">
    </head>
    <body>
        <header>
            <div class="top-header">
                <a href="/index.html">MadScientist.com</a>
            </div>
            <div class="navbar">
                <a class="stay" href="/index.html">Home</a>
                <a href="#artikel">artikel</a>
                <!--<a class="logout" href="/logout.html">logout</a>-->
            </div>
        </header>
        <section>
            <p><b>WELCOME TO MY BLOG!</b><br>hi my name is vio gustian and my GCI name is mad scientist. <br>this is my first experience following the google code in. <br>I followed because I really like linux. in google code in, I So much learned a new things.</p>
    </section>
    </body>
</html>
